body{
    display: grid;
    grid-template-columns: repeat();
    font-family:"Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
.course-title{
    display: block;
    text-align: center;
    font-weight: 400 bold;
    font-size: 2rem;
}