body{
    display: grid;
    grid-template-columns: repeat();
    font-family:"Roboto", sans-serif;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}
header{
    background-color: lightgray;
    padding: 20px;
}
#course-title{
    display: block;
    text-align: center;
    font-weight: 400 bold;
    font-size: 2rem;
    color: blue;
}
nav{
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 100 bold;
    gap: 50px;
    padding: 10px;
}
.reference{
    grid-column: 4/6;
    grid-row:;
    border: 2px solid black;
    padding: 10px;
    margin-left: 20px;
}
.sky{
    color: green;
}
.design{
    color: purple;
}
main{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
}
.card{
    display: relative;
    grid-column: 1/4;
    margin-left: 20px;
    border: 2px solid black;
    padding: 10px;

}
.card img{
    width: 200px;
    height: auto;
    float: right;

}
h1{
    display:flex;
    flex-direction: row;
    grid-column: 3/4;
    font-size: 1.5rem;
    font-weight: 400;
    color: darkblue;
}
.card h2{
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: 400;
    color: darkblue;
    text-align: center;
}
footer p{
    text-align: center;
    font-size: 1rem;
    color: white;
    margin: 5px;}
footer{
    background-color: black;
}