body{
    font-family: 'Roboto', sans-serif;
    margin-left: 200px;
}
header{
    background-color: lightgray;
}
nav ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color:black;
    gap: 100px;

}
.temple-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: px;
  padding: 20px;
}

.temple-cards section {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  background: #f9f9f9;
}

.temple-cards img {
  width: 100%;
  border-radius: 8px;
}
h1{
    display:flex;
    grid-column: 1/4;
    justify-content: center;
    color:blue;
}