:root{
    --font-size: 1.2rem;
    --padding: 10px;

}
main{
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    width: 840px;
}
.hero img{
    width: 100%;
    height: auto;
    display: block;
}
.content{
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: var(--padding);
    border-radius: 10px;
    font-size: var(--font-size);
}
.content img{
    grid-row: 1;
}
span