body{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;

    }
    header{
    display: flex;
    justify-content: center;
    padding: var(--padding);
    font-size: 2rem;
    color: white;
    align-items: center;
    background-color: black;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.place-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
    background-color: green;
}
.content img::after{
    top: 20px;
    right: 5px;
    position: absolute;
}

footer{
    display: flex;
    justify-content: center;
    padding: var(--padding);
    font-size: 1rem;
    color: white;
    align-items: center;
    background-color: black;
    flex-direction: column;
}
@media screen and(min-width:40rem){
    body{
        grid-template-columns: 1fr;

    }
}