:root{
    --font-size: 1.2rem;
    --padding: 20px;

}
body{
    display: grid;
    grid-template-columns: 1fr;
}
header h1{
    display: flex;
    justify-content: center;
    padding: var(--padding);
    margin: 0;
    font-size: 2rem;
    color: white;
    align-items: center;
    background-color: black;
}
.content{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    font-size: var(--font-size);
    background-color: green;
    justify-content: center;
    grid-column: 3/4;

}
.place-info{
    border: 2px solid black;
    font-size: var(--font-size);
    background-color: green;
    justify-content: center;

}
p{
    justify-content: center;
}
footer{
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
}
p{
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 1rem;
    color: white;
    padding: var(--padding);
    align-items: center;
}
h2{
     display: flex;
    justify-content: center;
    margin: 0;
    font-size: 1.5rem;
    color: white;
    padding: var(--padding);
}
@media screen and(min-width: 40rem){
    body{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        width:300;

    }
    header h1{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: var(--padding);
        font-size: 2rem;
        color: white;
        align-items: center;
        background-color: black;
    }
    .content img{
        top: 20px;
        right: 20px;
        position: absolute;
    }
}