
@media query and(min-width: ){
    body{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        width:400px;

    }
    header h1{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: var(--padding);
        font-size: 2rem;
        color: white;
        align-items: center;
        background-color: black;
    }
    .content img{
        justify-content: center;
        position: absolute;
    }
}