


@media screen and(min-width: 40rem){
    body{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
    }
    header h1{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: var(--padding);
        font-size: 2rem;
        color: white;
        align-items: center;
        background-color: black;
    }
};