:root{
    --font-size: 1rem;
    --padding: 10px;

}
header h1{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: var(--padding);
    font-size: 2rem;
    color: white;
    align-items: center;
}

div{
    display: grid;
    grid-template-columns: 1fr 1fr auto;
}
.hero{
    width: 100%;
    height: auto;
}
.content{
    position: absolute;
    bottom: 5px;
    left: 800px;
}
.content img{
    top: 20px;
    right: 5px;
    position: absolute;
}
p{
    font-weight: bold;
}
p span{
    font-weight: normal;
}
.place-info{
    position: absolute;
    bottom: 5px;
    left: 20px;;
    bottom: 20px;
}
footer{
    display: grid;
    grid-template-columns: 1fr;
    background-color: green;
}
footer p{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: white;
    align-items: center;
}