body{
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width: 40rem){
    body{
        grid-template-columns: 1fr;
    }
    .hero img{
    width: 100%;
    height: auto;
    display: block;
    }
.