:root{
    --font-size: 1.2rem;
    --padding: 10px;

}
{
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    width: 840px;
}
.hero img{
    width: 100%;
    height: auto;
    display: block;
}