body{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}
header h1{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: var(--padding);
    font-size: 2rem;
    color: white;
    align-items: center;
    background-color: black;
}
.content{
    display: flex;
    flex-direction: column;
    
    font-size: var(--font-size);
    background-color: green;
}
@media query and(min-width: 40rem){
    body{
        display: grid;
        grid-template-columns: 1fr;

    }
    header h1{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: var(--padding);
        font-size: 2rem;
        color: white;
        align-items: center;
        background-color: black;
    }
}