:root{
    --font-size: 1.2rem;
    --padding: 20px;

}
h1{
    margin: 0;
    padding: var(--padding);
    
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    width: 950px;
}
.hero img{
    width: 100%;
    height: auto;
    display: block;
}
.content{
    position: absolute;
    bottom: 20px;
    left: 750px;
    border-radius: 10px;
    font-size: var(--font-size);
    background-color: green;
}
.content img{
    top: 20px;
    right: 20px;
    position: absolute;
}
p{
    font-weight: bold;
}
p span{
    font-weight: normal;
}
.place-info{
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 10px;
    font-size: var(--font-size);
    background-color: green;
}