body{
    font-family: 'Roboto', sans-serif;
    margin-left: 200px;
}
header{
    background-color: lightgray;


}
header span{
    color:blue;
}

main{
    display: grid;
    grid-template-columns:repeat(3 auto);
}
main h1{
    display:flex;
    grid-column: 1/4;
    justify-content: center;
    color:blue;
}
figure, figcaption, img{
    display: flex;
    flex-direction: column;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    color:black;
    border-top: 2px solid black;
}
