body{
    display: grid;
    g
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    background-color: #d3d3d3;

}
main{
    display: grid;
    grid-template-columns:1fr;
}
figure, figcaption, img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color:black;
    margin-top: 20px;
    border-top: 2px solid black;
}

@media (min-width: 32px){
    header{
    background-color: #d3d3d3;
    }
    header h1{
        text-align: center;
        color:blue;
    }
    nav{
        color:black;

    }
}
