body{
    display: grid;
    grid-template-rows: 1fr;
    font-family: 'Roboto', sans-serif;
}
header{
    display:flex;
    grid-column: 1/3;
    gri
}
nav{
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    grid-column: 1/3;

}
main{
    display: grid;
    grid-template-columns:1fr;
}