body{
    display: absolute;
    font-family: 'Roboto', sans-serif;
    width: 840px;
    margin-left: 200px;
}
header{
    background-color: lightgray;


}
header h1{
    justify-content:center; ;
    color:white;
}
nav ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color:black;
    gap: 100px;

}
main{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
}
main h1{
    display:flex;
    grid-column: 1/4;
    text-align: center;
    color:blue;
}
figure, figcaption, img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color:black;
    border-top: 2px solid black;
}
@media only screen and (min-width: 40em) {
	h1 {
		font-size: 2rem;
	}
	.navigation {
		display: flex;
	}
	.navigation a {
		display: absolute; /* change state in small view */
		flex: 1 1 100%;

	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
	body{
    display: grid;
    grid-template-columns:1fr;
}
}


