body{
    font-family: 'Roboto', sans-serif;
}
header{
    display:grid;
    grid-template-columns:1fr;
    background-color: lightgray;

}
h1{
    display:flex;
    grid-column: 1;
    justify-content: center;
    text-align: center;
    color:blue;
}
nav{
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    color:black;

}
main{
    display: grid;
    grid-template-columns:1fr;
}
figure, figcaption, img, {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}