body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #d3d3d3;

}
header span{
    color:blue;
}
nav{
    color:black;
}
nav a:hover{
    background-color: darkgreen;
    color:white;
}

#menu {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}
.navigation a:hover,
.navigation a:active {
	color: white;
	background-color: black;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}
nav ul{
    display:block;
    flex-direction: row;
    grid-column: 1/6;
    color:black;
    gap: 100px;
}
.box{
    color: purple;
}
.give{
    color:violet ;
}
.sharp{
    color: green;
}
main{
    display: grid;
    grid-template-columns:1fr;
}
figure, figcaption, img{
    display: flex;
    flex-direction: column;
	justify-content: center;
}
figcaption{
	color: purple;
	text-align: center;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color:black;
    border-top: 2px solid black;
}

h1,header span {
	font-size: 1rem;
	padding: 1rem;
	color: blue;
	text-align: center;
}
/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
	background-color: lightgray;
	color: #000;
}

#menu::before {
	content: "≡";
}

nav {
	background-color: lightgray;
}

.show li {
	display: none;
}
.navigation a {
	display: absolute;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover,
.navigation a:active {
	color: white;
	background-color: black;
}

.navigation li {
	display: block;
}

#menu.show::before {
	content: "X";
}

/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.  

In most WDD courses there is a requirement to use a separate file. This part would go into a separate CSS file. 
*/
@media only screen and (min-width: 40rem) {
	header span {
		font-size: 2rem;
	}
	.navigation {
		display: flex;
	}
	.navigation a {
		display: absolute; /* change state in small view */
		flex: 1 1 100%;

	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
};
