body{
    display: grid;
    font-family: 'Roboto', sans-serif;
    width: 840px;
    margin-left: 200px;
    border: 1;
}
header{
    background-color: lightgray;

}
header h1{
    display:flex;
    grid-column: 1/6;
    text-align: center;
    color:blue;
}
nav ul{
    display:flex;
    flex-direction: row;
    grid-column: 1/6;
    background-color: lightgreen;
    color:black;
    gap: 100px;

}
nav a:hover{
    color: darkblue;
}
main{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
}
main h1{
    display:flex;
    grid-column: 1/4;
    text-align: center;
    color:blue;
}
figure, figcaption, img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color:black;
    border-top: 2px solid black;
}

