body{
    display: grid;
    grid-template-rows: 1fr;
    font-family: 'Roboto', sans-serif;
}
header{
    display:grid;
    grid-template-columns:1fr;

}
h1{
    grid-column: 1/2;
    text-align: center;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    grid-column: 1/3;

}
main{
    display: grid;
    grid-template-columns:1fr;
}