body{
    display: absolute;
    font-family: 'Roboto', sans-serif;
    margin-left: 200px;
}
header{
    background-color: lightgray;


}
header h1{
    justify-content:center; ;
    color:blue;
}
nav ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color:black;
    gap: 100px;

}
.box{
    color: blue;
}
.give{
    color: red;
}
.sharp{
    color: green;
}
main{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    justify-content: center;
    margin
}
main h1{
    display:flex;
    grid-column: 1/4;
    justify-content: center;
    color:blue;
}
figure, figcaption, img{
    display: flex;
    flex-direction: column;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    color:black;
    border-top: 2px solid black;
}
