body{
    display: grid;
    grid-template-rows: 1fr;
    font-family: 'Roboto', sans-serif;
}
header{
    display:flex;
    justify-content: center;
    grid-row: 1;
    background-color: lightgray;
    text-align: center;
    color:blue;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    grid-column: 1/3;

}
main{
    display: grid;
    grid-template-columns:1fr;
}