body{
    font-family: 'Roboto', sans-serif;
}
header{
    display:grid;
    background-color: lightgray;

}
h1{
    displa
    justify-content: center;
    text-align: center;
    color:blue;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgreen;
    color:black;

}
main{
    display: grid;
    grid-template-columns:repeat[];
}
figure, figcaption, img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color:black;
    border-top: 2px solid black;
}

