body{
    display: grid;

    font-family: 'Roboto', sans-serif;
}
header{
    background-color: lightgray;

}
header h1{
    display:flex;
    grid-column: 1/6;
    justify-content: center;
    text-align: center;
    color:blue;
}
nav a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightgreen;
    color:black;

}
main{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
}
main h1{
    display:flex;
    grid-column: 1/4;
    text-align: center;
    color:blue;
}
figure, figcaption, img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color:black;
    border-top: 2px solid black;
}

