body{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
main{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}
im
footer{
    margin-top: 20px;
    font-size: 0.9em;
    color: white;
    background-color: black;
    text-align: center;
    width: 400px;
}