body{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
main{
    display:flex;
    flex-direction: column;
    align-items: center;
    
    margin-top: 20px;
    margin-bottom: 20px;
}