body{
    display: grid;
    grid-template-columns: 3 1fr;
    width: 800px;
}
header{
    background-color: green;
}
header img{
    display: flex;
    position: absolute;
    justify-content: left;
}
h1{
    display: flex;
    justify-content: center;
    color: blue;
    font-family: roboto sans-serif;
    font-weight: 400;
}
h2{
    
}