body{
    display: grid;
    grid-template-columns: 3 1fr;
    width: 800px;
    height
    margin-left:50px;
    border:2px solid;
}
header{
    background-color: green;
}
header img{
    display: flex;
    position: absolute;
    justify-content: left;
}
main{
    margin:50px;
}
h1, h2{
    display: flex;
    justify-content: center;
    color: blue;
    font-family: roboto sans-serif;
    font-weight: 400;
}
p{
    font-size: large;
    font-weight: 100;
}
main img{
    display:flex;
    position:absolute;
    justify-content: center;
    grid-column: 2/3;
}
footer{
    background-color: black;
}
footer p{
    justify-content: center;
    color: white;
}
span{
    display: flex;
    flex-direction: column;
}

