body{
    display: grid;
    grid-template-columns: 3 1fr;
    width: 800px;
}
header{
    background-color: green;
}
header img{
    display: flex;
    position: absolute;
    justify-content: left;
}
h1, h2{
    display: flex;
    justify-content: center;
    color: blue;
    font-family: roboto sans-serif;
    font-weight: 400;
}
p{
    font-size: medium;
    font-weight: 100;
}
main img{
    display:flex;
    position:absolute;
    justify-content: center;
}
footer{
    background-color: black;
}
footer p{
    display: flex;
    justify-content: center;
    color: white;
}
spa

