h1{
    font-size: 2em;
    color: #333;
    text-align: center;
    margin: top 20px;;
    background-color: aquamarine;
}
h2{
    font-size: 1.5em;
    color: #555;
    text-align: center;
    margin-top: 10px;
    background-color: lightcyan;
    flex-wrap: wrap;
}
p{
    font-size: 1em;
    color: #666;
    text-align: justify;
    margin: 10px 20px;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}
h3{
    font-size: 1.2em;
    color: #444;
    text-align: center;
    margin-top: 10px 20px;
    background-color:#f0f0f0;
}
h4{
    font-size: 1.1em;
    color: #777;
    text-align: left;
    margin-top: 10px 20px;
    background-color: #d0d0d0;
}
aside {
    background-color: #eee;
    padding: 1rem;
    margin: 1rem;
    width: 20rem;
    border: 1px solid rgb(0 0 0 / 20%);
    color: #333;
    text-align: center;
    position: block;
}
aside img {
    width: 300px;
    height: auto;}
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif
}
thead,tr{
  background-color: rgb(200 220 240);
}
tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}
th {
  text-align: center;
  font-weight: bold;
}